*{
	padding: 0;
	margin: 0;
}
body,html{
	height: 100%;
}

.wrap{
	text-align: center;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.header{
	position: fixed;
	top: 0;
	
	height: 90px;
	width: 100%;
	background: rgba(0,0,0,0.6);
}
.header-left,.nav,.nav li,.header-right{
	display: inline-block;
	height: 90px;
	vertical-align: top;
}
.nav li{
	line-height: 90px;
}
.header nav{
	
	margin: 0 40px;
}
.header nav li{
	width: 80px;
	height: 90px;
	line-height: 90px;
	margin: 10px;
	
}

.header-right a{
	width: 100px;
	margin: 0 10px;
	display: inline-block;
}
.nav a{
	color: white;
}
.nav a:hover{
	color: red;
}
.header-right a:hover{
	
	color: black;
}
.header-right a{
	display: inline-block;
	border: 1px solid black;
	
	width: 100px;
	height: 40px;
	border-radius: 15px;
}
.header-right a{
	margin: 30px auto;
	line-height: 40px;
}
.section{
	margin: -10px auto;
}

.footer{
	height: 320px;
	width: 100%;
	background-color: #000000;
}
.footer-nav ul{
	margin: 60px auto;
}
.footer-nav ul li{
	display: inline-block;
	height: 100px;
	width: 100px;
}
.footer nav li a{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin: 80px 30px;
}
.footer ul li a span:first-of-type{
	
	display: block;
	height: 100px;
	
	width: 100px;
	line-height: 100px;
	background: url(../img/3.png) no-repeat;
	
}
.footer ul li span{
	
	color: white;
}
.footer ul li:nth-of-type(1) span:first-of-type{
	background-position: 0px 0px;
}
.footer  ul li:nth-of-type(1) span:first-of-type:hover{
	background-position: -100px 0px;
}

.footer ul li:nth-of-type(2) span:first-of-type{
	background-position: 0px -100px;
}
.footer  ul li:nth-of-type(2) span:first-of-type:hover{
	background-position: -100px -100px;
}

.footer ul li:nth-of-type(3) span:first-of-type{
	background-position: 0px -200px;
}
.footer  ul li:nth-of-type(3) span:first-of-type:hover{
	background-position: -100px -200px;
}

.footer ul li:nth-of-type(4) span:first-of-type{
	background-position: 0px -300px;
}
.footer  ul li:nth-of-type(4) span:first-of-type:hover{
	background-position: -100px -300px;
}

.footer ul li:nth-of-type(5) span:first-of-type{
	background-position: 0px -200px;
}
.footer  ul li:nth-of-type(5) span:first-of-type:hover{
	background-position: -200px 0px;
}

